#moviePosterCarousel {
    margin-top: 66px;
    height: 500px;
}

#moviePosterCarousel img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie-title {
    font-weight: 900;
}

.movieImgDiv {
    text-align: center;
}

.movieInfo img {
    height: 500px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
}

.movieInfo hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 1px;
}

.reviewRatingArea {
    float: right;
    margin-right: 50px;
    font-size: 30px;
}

.infoArea table {
    margin-left: 20px;
    width: 100%;
    font-size: 18px;
}

.infoArea td:first-child {
    width: 15%;
    font-weight: 400;
    color: rgb(32, 28, 28);
}

.infoAreaTitle {
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.storylineArea {
    margin-top: 20px;
}

.storylineArea p {
    margin-left: 20px;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.seeDetailBtn {
    margin-right: 20px;
    float: right;
}

.imgsCarouselDiv {
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.imgsCarouselDiv img {
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
}

.owl-stage {
    display: flex;
    align-items: center;
}

.videoDiv {
    width: 100%;
    text-align: center;
}

.cinemaShowing {
    border-radius: 5%;
    text-align: left;
    display: flex;
}

.showingIcon {
    display: flex;
    align-items: center;
	justify-content: center;
}

.showingTimes {
    font-size: 18px;
    margin-top: 10px;
}

.topStageBar {
    margin-top: 0px;
    height: 100px;
}

.topStageBar .container {
    position: relative;
    margin-top: -55px;
}

.movieSummary {
    text-align: center;
}

.movieSummary img {
    height: 300px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
}

.movieSummary #movieName {
    color: black;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
}

.ticketAmount table {
    margin-top: 15px;
    width: 90%;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.ticketAmount table tr {
    border-top: 0.2px solid rgb(199, 198, 198);
    border-bottom: 0.2px solid rgb(199, 198, 198);
    height: 80px;
}

.ticketAmount table tr:first-child {
    border-top: none;
}

.ticketAmount table tr:last-child {
    border-bottom: none;
}

.ticketAmount table select {
    width: 50%;
}

.nextButton {
    margin-right: 15px;
    width: 150px;
    float:right;
}

#subTotal {
    padding-right: 15px;
    color: black;
    margin-top: 30px;
    width: 100%;
    text-align: right;
}

#screen {
    padding-top: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(179, 217, 247);
    text-align: center;
    border-radius: 15%;
}

#seatingMap table {
    margin-top: 30px;
    table-layout: fixed;
}

#seatingMap img {
    width: 100%;
}

#seatingMap .occupied {
    cursor: default;
}

#seatingMap .nonOccupied:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(1px 2px 2px #b4b1b1)
}
  
#seatsInfo {
    margin-left: 30px;
    margin-top: 15px;
    color: black;
    text-align: left;
    display: inline-block;
}

#seatingMap button {
    margin-top: 32px;
}

#tickets {
    padding: 0px;
}

.ticket {
    padding: 15px 20px;
    border: 0.5px solid rgb(199, 198, 198);
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 2px 1px 6px #888888;
}

.ticket:first-of-type {
    margin-top: 0px;
}

.ticket:hover {
    box-shadow: 3px 2px 20px #888888;
}

.ticket .ticketUpperArea {
    width: 100%;
    display: inline-block;
}

.ticket .movieName {
    font-weight: 400;
    color: black;
    font-size: 20px;
    float: left;
}

.ticket .category {
    margin-top: 2px;
    float: right;
    font-size: 20px;
}

.ticket .cinema {
    margin-top: -10px;
    font-weight: 400;
    color: black;
    font-size:15px;
}

.ticket .ticketBottomArea div {
    margin-top: 10px;
    text-align: center;
    display: inline-block;
}

.ticket .ticketBottomArea span {
    font-weight: 400;
    display: block;
    color: black;
    font-size: 15px;
}

.ticket .ticketBottomArea span:first-child {
    color: rgb(114, 111, 111);
    font-size: 13px;
}

.ticket .time {
    margin-left: 90px;
}

.ticket .seat {
    margin-left: 90px;
}

.ticket .price {
    margin-left: 90px;
}

#statusIcon {
    text-align: center;
    
    padding-top: 0px;
}

#statusIcon i {
    color: rgb(78, 207, 95);
    font-size: 100px;
}

#orderMessage span:first-of-type {
    font-weight: 300;
    color: rgb(114, 111, 111);
    font-size: 20px;
}

#orderMessage span {
    display: block;
    font-weight: 400;
    color: black;
    font-size: 30px;
}

#successTickets {
    margin-top: 50px;
}

#writeReviewButton {
    float: right;
}

#reviewList {
    margin-top: 80px;
}

.reviewTitle {
    display: inline-block;
}

.likeDiv {
    display: inline-block;
}

.reviewMidDiv {
    display: block;
}

.reviewContent {
    margin-top: 10px;
}

.reviewContent p {
    font-size: 19px;
}

.reviewTopDiv {
    justify-content:space-between;
    display: flex;
    height: 35px;
}

.likeDiv i:hover {
    cursor: pointer;
}

.likeDiv .active {
    color: #2494ea;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-dialog .modal-title {
    display: inline-block;
}

.modal .close {
    font-size: 25px;
    margin-top: 3px;
    display: inline-block;
}

#memberBar {
    margin-left: 30px;
}

#memberBar #profileImg {
    height: 30px;
    -webkit-clip-path:circle(50% at 50% 50%);
}

#memberBar #loginButton {
    height: 30px;
    position: relative;
    top: -5px;
}

#logoutLogo {
    color: #4166b0;
}