#moviePosterCarousel {
    margin-top: 66px;
    height: 500px;
}

#moviePosterCarousel img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie-title {
    font-weight: 900;
}

.movieImgDiv {
    text-align: center;
}

.movieInfo img {
    height: 500px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
}

.movieInfo hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 1px;
}

.reviewRatingArea {
    float: right;
    margin-right: 50px;
    font-size: 30px;
}

.infoArea table {
    margin-left: 20px;
    width: 100%;
    font-size: 18px;
}

.infoArea td:first-child {
    width: 15%;
    font-weight: 400;
    color: rgb(32, 28, 28);
}

.infoAreaTitle {
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.storylineArea {
    margin-top: 20px;
}

.storylineArea p {
    margin-left: 20px;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.seeDetailBtn {
    margin-right: 20px;
    float: right;
}

.imgsCarouselDiv {
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.imgsCarouselDiv img {
    cursor: pointer;
    box-shadow: 5px 10px 18px #888888;
}

.owl-stage {
    display: flex;
    align-items: center;
}

.videoDiv {
    width: 100%;
    text-align: center;
}

.cinemaShowing {
    border-radius: 5%;
    text-align: left;
    display: flex;
}

.showingIcon {
    display: flex;
    align-items: center;
	justify-content: center;
}

.showingTimes {
    font-size: 18px;
    margin-top: 10px;
}

.topStageBar {
    margin-top: 0px;
    height: 100px;
}

.topStageBar .container {
    position: relative;
    margin-top: -50px;
}

.movieSummary {
    text-align: center;
}

.movieSummary img {
    height: 300px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5%;
}

.movieSummary #movieName {
    color: black;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px;
}

.ticketAmount table {
    margin-top: 15px;
    width: 90%;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.ticketAmount table tr {
    border-top: 0.2px solid rgb(199, 198, 198);
    border-bottom: 0.2px solid rgb(199, 198, 198);
    height: 80px;
}

.ticketAmount table tr:first-child {
    border-top: none;
}

.ticketAmount table tr:last-child {
    border-bottom: none;
}

.ticketAmount table select {
    width: 50%;
}

.nextButton {
    margin-right: 15px;
    width: 150px;
    float:right;
}

#subTotal {
    padding-right: 15px;
    color: black;
    margin-top: 30px;
    width: 100%;
    text-align: right;
}

#screen {
    padding-top: 10px;
    width: 100%;
    height: 50px;
    background-color: rgb(179, 217, 247);
    text-align: center;
    border-radius: 15%;
}

#seatingMap table {
    margin-top: 30px;
    table-layout: fixed;
}

#seatingMap img {
    cursor: pointer;
    width: 100%;
}
  
#seatsInfo {
    margin-left: 30px;
    margin-top: 15px;
    color: black;
    text-align: left;
    display: inline-block;
}

#seatingMap button {
    margin-top: 32px;
}