<div id="fh5co-header">
    <header id="fh5co-header-section">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/semantic.css"> -->
        <link rel="stylesheet" href="/css/search.css">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="http://localhost:3000">Mo<span>view</span></a></h1>

                <div id="searchBox" class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Search movies...">
                        <i id="searchIcon" class="fas fa-search"></i>
                        <!-- <i class="search icon"></i> -->
                    </div>
                    <div class="results"></div>
                </div>

                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li class="active">
                            <a href="http://localhost:3000">Home</a>
                        </li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown">Movies</a>
                             <ul class="fh5co-sub-menu">
                                 <li><a href="#">In Theaters</a></li>
                                 <li><a href="#">Showtimes &amp; Tickets</a></li>
                                
                                <li><a href="#">Coming Soon</a></li>
                                <li><a href="#">Top Rate Movies</a></li>
                            </ul>
                        </li>

                        <li id="memberBar">
                            <% if (user.isLogin) { %>
                                <a href="#" class="fh5co-sub-ddown"><img id="profileImg" src="<%= user.profileUrl %>">  <%= user.name %></a>
                                <ul class="fh5co-sub-menu">
                                    <li><a href="#">Tickets History</a></li>
                                    <li><a href="#"><i class="fab fa-facebook-square" id="logoutLogo"></i> Logout</a></li>
                                </ul>
                            <% } else { %>
                                <a href="/auth/facebook"><img id="loginButton" src="/images/login-FB.png"></a>
                            <% } %>
                        </li>
                    </ul>
                    
                </nav>
            </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <!-- Live Search -->
        <script src="/js/semantic.js"></script>
        <script src="/js/search.js"></script>
        <script>
            $('.ui.search')
            .search({
                apiSettings: {
                    url : '/search'
                }
            });
        </script>

    </header>		
</div>