
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Moview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- owlcarousel -->
	<link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">


	<link rel="stylesheet" href="css/custom.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->


	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<% include menuHeader %>
		<!-- end:fh5co-header -->
		
		
		<div id="fh5co-contact">
			<div class="container">
				<form action="#">
					<div class="row movieInfo">
						<h1 class="col-md-12 movie-title">Deadpool 2</h1>
						<div class="col-md-4 animate-box movieImgDiv">
								<!-- <img src="https://ia.media-imdb.com/images/M/MV5BM2E5MWYwYTktMmIxZC00MWVkLTk4YjctNGU1OGVjMDIwNzM2XkEyXkFqcGdeQXVyNTAwODk1NzY@._V1_SY1000_CR0,0,704,1000_AL_.jpg"> -->
							<img src="https://ia.media-imdb.com/images/M/MV5BNzczMjUwMzk0M15BMl5BanBnXkFtZTgwNjY4OTQ3NDM@._V1_SY1000_SX675_AL_.jpg">
						</div>
						<div class="col-md-8 animate-box">
							<div class="reviewRatingArea">
								<i class="fa fa-star" style="font-size:30px;color:gold"></i> 4.8
							</div>
							
							<div class="infoArea">
								<div class="infoAreaTitle">Movie Info</div>
								<hr>
								<table>
									<tr>
										<td>Directors:</td>
										<td><a>David Leitch</a></td>
									</tr>
									<tr>
										<td>Writers:</td>
										<td><a>Rhett Reese, Wernick</a></td>
									</tr>
									<tr>
										<td>Stars:</td>
										<td><a>Josh Brolin</a>, <a>Morena Baccarin</a>, <a>Zazie Beetz</a>, <a>Josh Brolin</a>, <a>Morena Baccarin</a>, <a>Zazie Beetz</a>, <a>Josh Brolin</a>, <a>Morena Baccarin</a>, <a>Zazie Beetz</a></td>
									</tr>
									<tr>
										<td>Runtime:</td>
										<td>90 min</td>
									</tr>
									<tr>
										<td>In Theaters:</td>
										<td>Apr 27, 2018</td>
									</tr>
									<tr>
										<td>Category:</td>
										<td><a>Action</a>, <a>Adventure</a>, <a>Comedy</a></td>
									</tr>

								</table>
							</div>

							<div class="storylineArea">
								<div class="infoAreaTitle">Storyline</div>
								<hr>
								<p>
									After surviving a near fatal bovine attack, a disfigured cafeteria chef (Wade Wilson) struggles to fulfill his dream of becoming Mayberry's hottest bartender while also learning to cope with his lost sense of taste. Searching to regain his spice for life, as well as a flux capacitor, Wade must battle ninjas, the Yakuza, and a pack of sexually aggressive canines, as he journeys around the world to discover the importance of family, friendship, and flavor - finding a new taste for adventure and earning the coveted coffee mug title of World's Best Lover.
								</p>
								<span class="seeDetailBtn"><a>See full storyline >></a></span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->

		<div id="fh5co-team-section" class="fh5co-lightgray-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Photos</h2>
						</div>
					</div>
				</div>
				<div class="owl-carousel owl-theme imgsCarouselDiv">
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BNmRiYzhmNWMtYzc1OC00OThmLThiYzQtZDYyNjNjZjBlNjgyXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BMTJjMDRkOTUtNTIxOS00NjY4LTg0NWItNmU1ZGVhNDc2OTU4XkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,744_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BNWUzZjAxZjMtNDdmNy00NTFiLTlkNGEtNjllZjFiNzk3ZjYyXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,743_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BOGNiMjYwYzMtMTE5Ni00MGZkLTk0ZTQtMDA4NTNiNTVjMTRiXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BMzRjNjFhMzQtZTdmYi00NGYyLTlkMTctZTU4YjA4ODRjMjgyXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,736_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BMzRjNjFhMzQtZTdmYi00NGYyLTlkMTctZTU4YjA4ODRjMjgyXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,736_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BYjhmZjQ1OTItY2MyMy00Y2ZhLTkxNTUtMzA1MWU4NWJjMWNlXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,744_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BYjhmZjQ1OTItY2MyMy00Y2ZhLTkxNTUtMzA1MWU4NWJjMWNlXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SX1777_CR0,0,1777,744_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BNzhkODY0ZWUtYjY5YS00MTVlLWIxZWQtNTJlNDZmMmZjY2Q3XkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg">
					</div>
					<div class="item carouselImgDiv">
						<img src="https://ia.media-imdb.com/images/M/MV5BZjI3NTNkMmYtMTZkYS00YzEzLTk0MGItYmNmNmRlMjAwM2FiXkEyXkFqcGdeQXVyNDg2MjUxNjM@._V1_SY1000_SX1500_AL_.jpg">
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-team-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Trailers</h2>
						</div>
					</div>
				</div>
				<div class="owl-carousel owl-theme videosCarouselDiv">
					<div class="item videoDiv">
						<iframe src="https://www.imdb.com/videoembed/vi1315682329" width="70%" height="450px" allowfullscreen ></iframe>
					</div>
					<div class="item videoDiv">
						<iframe src="https://www.imdb.com/videoembed/vi2755901465" width="70%" height="450px" allowfullscreen ></iframe>
					</div>
					<div class="item videoDiv">
						<iframe src="https://www.imdb.com/videoembed/vi2265036825" width="70%" height="450px" allowfullscreen ></iframe>
					</div>
				</div>
			</div>
		</div>

		<div id="map" class="fh5co-map"></div>
		<!-- END map -->
		<% include footer %>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="js/main.js"></script>

	<!-- owlcarousel -->
	<script src="owlcarousel/owl.carousel.min.js"></script>

	<script>
		$('.imgsCarouselDiv').owlCarousel({
			margin:10,
			loop:true,
			items: 4,
			autoplay: true
		})

		$('.videosCarouselDiv').owlCarousel({
			margin:10,
			items:1,
			loop:true,
			lazyLoad:true,
			center:true
		})
	</script>


	</body>
</html>

