
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Moview</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../../css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../../css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../../css/superfish.css">

	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- bs-wizard -->
	<link rel="stylesheet" href="../../css/bs-wizard.css">
	<!-- payment -->
	<link rel="stylesheet" href="../../css/payment.css">

	<link rel="stylesheet" href="../../css/custom.css">

	<!-- Modernizr JS -->
	<script src="../../js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../../js/respond.min.js"></script>
	<![endif]-->


	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<% include ../menuHeader %>
		<!-- end:fh5co-header -->
		
		<div id="fh5co-contact" class="fh5co-lightgray-section topStageBar" >
			<div class="container">
				<div class="row"> 
						<div class="row bs-wizard" style="border-bottom:0;">
							<div class="col-xs-2 col-md-offset-1 bs-wizard-step complete">
								<div class="text-center bs-wizard-stepnum">Step 1</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Buy Tickets</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
								<div class="text-center bs-wizard-stepnum">Step 2</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Select Seats</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step complete"><!-- complete -->
								<div class="text-center bs-wizard-stepnum">Step 3</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Confirm Order</div>
							</div>
							
							<div class="col-xs-2 bs-wizard-step complete"><!-- active -->
								<div class="text-center bs-wizard-stepnum">Step 4</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Pay for Order</div>
							</div>

							<div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
								<div class="text-center bs-wizard-stepnum">Step 5</div>
								<div class="progress"><div class="progress-bar"></div></div>
								<a href="#" class="bs-wizard-dot"></a>
								<div class="bs-wizard-info text-center">Success</div>
							</div>
						</div>
				</div>
			</div>
		</div>

		<div id="fh5co-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
							<h2>Pay for order</h2>
						</div>
					</div>
				</div>
				<form action="#">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 animate-box" id="payment">
							<!-- CREDIT CARD FORM STARTS HERE -->
							<div class="panel panel-default credit-card-box">
								<div class="panel-heading display-table" >
									<div class="row display-tr" >
										<h3 class="panel-title display-td" >Payment Details</h3>
										<div class="display-td" >                            
											<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
										</div>
									</div>                    
								</div>
								<div class="panel-body">
									<form role="form" id="payment-form" method="POST" action="javascript:void(0);">
										<div class="row">
											<div class="col-xs-12">
												<label for="cardNumber">TOTAL PRICE</label>
												<span id="total">$<%= subtotal %></span>         
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label for="cardNumber">NAME ON CARD</label>
													<div class="input-group">
														<input 
															type="tel"
															class="form-control"
															name="cardNumber"
															placeholder="Name on Credit Card"
															autocomplete="cc-number"
															required autofocus 
														/>
														<span class="input-group-addon"><i class="fa fa-user"></i></span>
													</div>
												</div>                            
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label for="cardNumber">CARD NUMBER</label>
													<div class="input-group">
														<input 
															type="tel"
															class="form-control"
															name="cardNumber"
															placeholder="Valid Card Number"
															autocomplete="cc-number"
															required autofocus 
														/>
														<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
													</div>
												</div>                            
											</div>
										</div>
										<div class="row">
											<div class="col-xs-7 col-md-7">
												<div class="form-group">
													<label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
													<input 
														type="tel" 
														class="form-control" 
														name="cardExpiry"
														placeholder="MM / YY"
														autocomplete="cc-exp"
														required 
													/>
												</div>
											</div>
											<div class="col-xs-5 col-md-5 pull-right">
												<div class="form-group">
													<label for="cardCVC">CV CODE</label>
													<input 
														type="tel" 
														class="form-control"
														name="cardCVC"
														placeholder="CVC"
														autocomplete="cc-csc"
														required
													/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<button type="button" class="subscribe btn btn-primary btn-lg btn-block nextButton">Pay</button>
											</div>
										</div>
										<div class="row" style="display:none;">
											<div class="col-xs-12">
												<p class="payment-errors"></p>
											</div>
										</div>
									</form>
								</div>
							</div>            
							<!-- CREDIT CARD FORM ENDS HERE -->
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->

		<% include ../footer %>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->
	<script src="../../js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../../js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../../js/jquery.waypoints.min.js"></script>
	<!-- Stellar -->
	<script src="../../js/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="../../js/hoverIntent.js"></script>
	<script src="../../js/superfish.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="../../js/google_map.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../../js/main.js"></script>

	<script>
		$(".nextButton").click(function() {
			document.location.href = "/booking/paySuccess";
		});
	</script>


	</body>
</html>

